table th .columntitle {
	display: inline-block !important;
}

/*Why?*/
/*li
{
  list-style-type: none;
}*/

.newgroupform {
	margin-left:20px;
	margin-bottom:20px;
	position:absolute
}


.normaltext {
	font-size:80%;
	margin-left: 4px;
}

.boldtext {
	font-size:92%;
	font-weight:bold;
}
.ownertext {
	position:relative;
	font-size:80%;
	color:#FF8C00;
	padding-left: 12px;
}

#spanaction {
	display:inline-block;
	position:relative;
	padding-top:4px;
	float:right
}

#ok {
	z-index: 1;
}

#newnote #ok {
	z-index: 1;
	float: left;
	margin-left: 16px;
	margin-right: 4px;
}

#ok i {
	margin-right: 0.36em;
}

.apanel {
	width:100%;
	border:solid 1px #e4e4e4;
	margin-bottom:20px;
	height:55px;
	display:none
}

.spanpanel {
	padding-bottom:3px;
	margin-left: 30px;
	line-height:50px;
}

table td.notename span.name span.nametext {font-weight:bold; }

table td.notename .nametext {
	/*position: absolute;*/
	left: 68px;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	/*max-width: 800px;*/
	height: 100%;
	font-weight:bold;
}

table td.notename a:hover {
	text-decoration: none;
}

#loadTags ul#tags li:hover {
	cursor: pointer;
}

#actionbtnBrowse, #actionbtnSave {
    margin:0 !important;
    width:60px;
}

div.app-notes div#notes {
	position: absolute;
	top: 78px;
	margin-left: 6px;
	/*box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);*/
	display: inline-block;
	width: 80%;
	overflow-x: auto;
	overflow-y: auto;
	/*min-width: 650px;*/
	min-height: 400px;
}

div.app-notes div#notes table#notestable {
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #e4e4e4;
	margin-bottom: 0;
	width: 100%;
}

.itext {
	font-weight:bold;
	font-size:120%;
	padding-left:4px;
	padding-top:3px;
}

input.editnote {
	line-height: 1.5;
	padding: 2px 0px 4px 5px;
	margin-top:10px;
	position: relative;
	width: 400px;
}

.border {
		border-style: solid;
		border-width: 2px;
		border-color: #444;
}


.avatar {
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	border-radius: 25px;
}

.avatar img {
	border-radius: 25px;
}

.newnote-span {
	float: right;
	margin-right: 82px;
	line-height: 50px;
	white-space: nowrap;
}

.newnote-span div {
	display: inline-block;
}
	
table.hidden {
		display: none;
}

table.visible {
	display: inline;
}

a.action > img {
		max-height: 16px;
		max-width: 16px;
		vertical-align: text-bottom;
}

.oc-dialog-title, .info {
	padding: 10px 3px 10px 0;
}


.icon-trash-empty {
	text-decoration:none;
	color:#c5c5c5;
	font-size:16px;
	background-image:none;
}

td.notename {
	height:32px;
}

table#notestable th .columntitle.name {
	margin: 0;
	padding: 16px 5px 15px 21px;
}

.notename i {
	/*margin-left: 10px;*/
	margin-right: 6px;
}

.oc-dialog .notetitle {
	margin-bottom: 12px;
	margin-top: 8px;
	text-left;
	font-size:128%;
	width: 90%;
	font-weight:bold;
}

.oc-dialog .oc-dialog-close {
	height: 10px;
	right: 12px;
	top: 11px;
	width: 10px;
}

.oc-dialog .icon-cancel-circled {
	color:#006b93;
	display:inline;
}

.oc-dialog .note_status {
	padding-left: 12px;
}


.button-row {
	margin-right: 0;
	margin-left: 0;
}

.float-right {
	float: right;
}

.size  {
	padding-right: 12px;
}

#notebooks {
	display: inline-block;
	width: 19%;
	vertical-align: top;
}

#notebooks .jqueryFileTree li {
	background: none;
	padding: 0;
	background: #34495e;
}

#notebooks .jqueryFileTree li a {
background:  #34495e;
color: #ffffff;
}

#notebooks ul.jqueryFileTree {
	font-size: 12px;
}

#notebooks ul.jqueryFileTree ul.jqueryFileTree {
	margin-left: 3px;
}

.notespanel {
	margin-bottom: 18px;
	background-color: #fff;
	border: 0px solid #e4e4e4;
	border-radius: 0px;
	position: relative;
}

#notestable #headerDue {
	width: 100%;
}

#notestable #fileList a {
	padding-right: 0px;
}

#notestable .col-xs-8 {
	width: auto;
}

.icon-plus {
	font-size: 9.6px;
	color: #006b93;
	margin-left: -16px;
	vertical-align: top;
}

.delete_folder {
    display: none;
}

a:hover .delete_folder {
	display: inline-block;
}

.directory {
	white-space: nowrap;
}

.delete_folder {
	position: absolute;
	right: 4px;
}

#notebooks ul.jqueryFileTree a {
	padding: 2px 2px 2px 5px;
}

#notebooks ul.jqueryFileTree li a.chosen {
	font-weight: bold;
	background: #006b93;
}

#notestable .notename a.name input {
	margin: 3px 3px;
}

#notestable th#headerName {
	/*min-width: 200px;*/
}

#notestable th {
	padding-right: 4px;
}

#notestable th#headerDelete a.delete-note {
	margin-left: 14px;
}

#loadTags #tags li {
	font-size: 12px;
}

#loadTags ul#tags li.chosen {
	background-color: #ffffff;
}

table#notestable #fileList div.path {
	/*max-width: 200px;*/
	overflow: hidden;
}

table#notestable #fileList div.date {
	min-width: 40px;
	overflow: hidden;
}

table#notestable th#headerDate,
table#notestable td.date,
table#notestable th.column-last,
table#notestable td.column-last {
	min-width: 80px;
}

table#notestable tbody#fileList {
    font-size: 12px;
}

table#notestable tbody#fileList tr td:not(.notename),
table#notestable tbody#fileList th div.date {
	padding-left: 0;
}


#content.app-notes div#editor_container {
	padding-top: 52px;
}

#content.app-notes div#editor_container div#preview_wrapper {
	padding-top: 72px;
}

#content.app-notes div#editor_container #preview_wrapper {
	width: 49.5%;
}

#content.app-notes div#editor_container #preview_wrapper #md_preview {
	padding-top: 6px;
}

#app-content-notes #editorcontrols {
	margin-top: 0px;
}
#headerDelete .dropdown-filter-dropdown {
	display: none;
}

table#notestable th .columntitle {
    padding: 16px 5px 16px 0px;
}

table#notestable th:not(.predefined) .checkbox-container {
	display: none;
}

input.datepicker {
	width: 67px;
	height: 22px;
	margin: 0;
	padding: 4px;
}

table:notestable span[data-tag] {
    line-height: 7px;
}

#body-user td.notename span.label {
    cursor: default;
}

td[column=spice] select option{
	color: transparent;
	text-shadow: 0 0 0 red;
}

.app-notes #app-navigation{
	background-color: transparent;
}

#spinner {
	display: inline;
	margin:0 0 0 27%;
}

#defaultTags {
	display: none;
}

#content.app-notes #notebooks i.toggle-notebooks, #content.app-notes #notebooks i.toggle-tags {
	cursor: pointer;
}

